# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\wlype\OneDrive - wlyper\Computer Sync\Desktop\Laravel 课程期末项目\source-code\educational-management-system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
